:root {
  --first-color: #7b9477;
  --second-color: #d8aa63;
  --third-color: #3f5f76;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

.general-content {
  font-family: "Mali", cursive;
  font-family: "Montserrat", sans-serif;
}

.intro {
  background-color: var(--first-color);
  color: white;
}

.intro-text {
  padding-top: 110px;
  padding-left: 20px;
}

.contact-me-button {
  padding: 15px;
  margin-top: 25px;
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

.my-mail {
  color: var(--third-color);
  text-decoration: none;
}

.solomiia-photo {
  display: flex;
  max-width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.main-part {
  background-color: var(--second-color);
  color: var(--third-color);
}

.weather-app,
.bike-polo {
  max-width: 450px;
  display: flex;
  border: 1px solid transparent;
  border-radius: 12px;
}

.project-button {
  padding: 15px;
  background-color: var(--first-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--first-color);
  border-radius: 5px;
}

.weather-app-link,
.bike-polo-link {
  color: wheat;
  text-decoration: none;
}

.contact-me-general {
  text-align: center;
  padding-top: 100px;
}

.contact-mail {
  color: var(--third-color);
  font-size: 30px;
}

.social-media {
  color: white;
}

@media (max-width: 600px) {
  .solomiia-photo {
    left: auto;
    top: auto;
  }
}
