.welcome {
  margin-top: 40px;
}

.solomiia-photo {
  display: flex;
  max-width: 300px;
  position: relative;
  left: 60%;
  top: -80px;
}

.weather-app,
.bike-polo {
  max-width: 500px;
  display: flex;
}

@media (max-width: 600px) {
  .solomiia-photo {
    left: auto;
    top: auto;
  }
}
