:root {
  --first-color: #7b9477;
  --second-color: #d8aa63;
  --third-color: #3f5f76;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

.general-content {
  font-family: "Mali", cursive;
  font-family: "Montserrat", sans-serif;
}

.intro {
  background-color: var(--first-color);
  color: white;
}

.intro-text {
  padding-top: 90px;
  padding-left: 20px;
}

.contact-me-button {
}

.solomiia-photo {
  display: flex;
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.main-part {
  background-color: var(--second-color);
  color: var(--third-color);
}

.weather-app,
.bike-polo {
  max-width: 500px;
  display: flex;
}

@media (max-width: 600px) {
  .solomiia-photo {
    left: auto;
    top: auto;
  }
}
